#btn:hover {
    background-color: white;
    color: blue;
  }

#btn:active {
    transform: scale(0.98);
    background-color: blue;
    color: white;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    
}